@model AdamFWatkins.Models.Gallery

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Create";
 
}

<h2>Create</h2>

@*@using (Html.BeginForm()) {*@


@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" })){


    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sketch</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.description, "Description")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>


        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        @Html.DropDownListFor(
            model => model.Category,
        new SelectList(
        new List<object>
            {
            new { value = "featured illustration" , text = "Featured Illustration"  },
            new { value = "featured sketch" , text = "Featured Sketch"  },
            new { value = "illustration" , text = "Illustration"  },
            new { value = "sketch" , text = "Sketch" }
            },
            "value",
            "text"
            )
        )

        <div class="editor-label">
            @Html.LabelFor(model => model.fullImage, "Full image")
        </div>
        <div class="editor-field">
            <input type="file" name="imageFull" />
            @Html.ValidationMessageFor(model => model.fullImage)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Admin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
